body{
    background-image: url('./img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.container-lg{
    box-shadow: 5px 5px 50px rgb(233, 29, 229);
}
.container-lg .names{
    
    backdrop-filter: blur(5px);
}
.container-lg .main_infos{
    background-color: white;
    background-image: url('./img/bg-infos.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    
}
#more_info img{
    width:150px !important;
    height: 100px !important;
}
#more_info div{
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.311);
    border-radius: 50px;
    transition: .5s;
}
#more_info div:hover{
    background-color: #663de4;
    color: white;
    

}